<!doctype html>
<html lang="en">
    {% include head.liquid %}
    <body class="markdown-body">
        <div id="top"></div>
        {% include logo.liquid %}
        <h1>{{ pageTitle }}</h1>
        <p>
        <div>Published on <time datetime="{{page.date}}">{{page.date | date: "%Y-%m-%d"}}</time></div>
        {% if lastUpdated %}
            <div>Last updated on <time datetime="{{lastUpdated}}">{{lastUpdated}}</time></div>
        {% endif %}
        </p>
        {{ content }}
        <a href="/">Back Home<a/><span class="link-spacer">|</span><a href="#top">Back To Top<a/>
        {% include scripts.liquid %}
    </body>
</html>
